* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body {
    background: #000000;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    width: 90%;
    max-width: 1400px;
    margin: auto;
}

/*Header*/

header {
    padding: 40px 0;
}

header .logo {
    text-align: center;
    margin-bottom: 10px;
}

header .logo h1 {
   font-family: 'Varela Round', sans-serif; 
   color: #ffffff;
}


header .logo p {
    color: #ffffff;
    font-size: 16px;
}
header form {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}
header .barra-busqueda {
    width: 50%;
    height: 35px;
    background: #ffffff;
    border-radius: 10px;
    border: none;
    padding: 0 20px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
}
header .titulos, header .categorias {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

header .titulos a {
    color: #9b9b9b;
    font-size: 16px;
    margin: 10px 20px;
}
header .titulos {
    margin-bottom: 8px;
}
header .categorias a {
    color: #9b9b9b;
    margin: 10px 20px;
    font-size: 14px;
}
 header .titulos .active, header .categorias .active {
     color: #ffffff;
 }

 header .redes-sociales img {
    height: 24px;
    margin: 10px;
 }
 header .redes-sociales  {
    display: flex;
    justify-content: center;
    flex-direction: row;
 }

 /*Grid*/

 .grid {
     position: relative;
     width: 100%;
     opacity: 0;
     transition: opacity 0.5s linear 1s;
 }
 .grid.img-cargadas {
     opacity: 1;
     /*.grid.img-cargadas debe ir todo junto para que funcione*/
     /*NO ASÍ: .grid .img-cargadas*/
 }
 
 .grid .item {
     position: absolute;
     display: block;
     padding: 0;
     margin: 1px;
     width: calc(24% - 2px);
     /*Para restar el margin en el porcentaje del ancho de las imagenes*/
 }

 .grid .item-contenido {
     position: relative;
 }

 .grid .item img {
     width: 100%;
     cursor: pointer;
     vertical-align: top;
 }

 /*Media Queries*/



 @media (max-width: 500px)
       and (min-device-width: 375px) {
         .grid .item {
            width: calc(100% - 2px);
            /*Para restar el margin en el porcentaje del ancho de las imagenes*/
        }
}
@media (min-width: 501px)
       and (max-width: 700px) { 
         .grid .item {
            width: calc(50% - 2px);
            /*Para restar el margin en el porcentaje del ancho de las imagenes*/
        }
}
 